<div id="intro" class="dark_grey">
  <h1>NP, TSS, and IF for Strava.</h1>
  <p class="get_started">
    <%= link_to "That sounds neat.  Let's get started.", get_started_path %>
  </p>           
</div>
