<div id="ride" class="collection dark_grey">
  <div id="title" class="left">
    <h3><%= ride.name %></h3>
  </div>
  <%= image_tag("arrow.png", :size => "32x32", :class => 'right') %>
  <%= link_to "", users_ride_path(@current_user.username, ride.strava_ride_id) %>
  <div class="clear"></div>
</div>