<div id="ride" class="collection dark_grey">
  <div id="title" class="left">
    <h3><%= ride.name %></h3>
  </div>
  <%= link_to image_tag("arrow.png"), users_ride_path(@user.username, ride.id), :class => 'right' %>
  <div class="clear"></div>
</div>