<div id="ride" class="collection dark_grey">
  <div id="title" class="left">
    <h3><%= ride.name %></h3>
  </div>
  <%= link_to image_tag("arrow.png", :size => "32x32"), users_ride_path(@current_user.username, ride.strava_ride_id), :class => 'right' %>
  <div class="clear"></div>
</div>