
<div id="instructions" class="dark_grey">
  <p>Use with the email and password that you login to Strava with.</p>
  <span class="note">Don't worry, we don't save your email or password.</span>
</div>