<div id="metrics" class="dark_grey">
  <%= render :partial => 'rides/metric', :locals => {:metric => :normalized_power} %>
  <%= render :partial => 'rides/metric', :locals => {:metric => :training_stress_score} %>
  <%= render :partial => 'rides/metric', :locals => {:metric => :intensity_factor} %>
</div>
